/**
 * Style the background of the login page. Show a gradient background to
 * be behind the login form.
 * 1. Ensure the centering of the login form.
 * 2. Show the backgorund as a gradient.
 * 3. Ensure continuous background.
 */
body.login {
  @extend %center-vertical; /* 1 */
  @include centered-background; /* 2 */
  background-image: linear-gradient(to bottom, #d59254, #cf7693); /* 2 */
  height: 100vh; /* 3 */
}

/**
 * Ensure the login form is centered in the middle of the screen with a
 * background offset from the background.
 * 1. Number that approximates the average length of the username/password.
 * 2. Give space to login form.
 * 3. Offset the background form the remainder.
 * 4. Center horizontlly.
 */
#login-form {
  width: 400px; /* 1 */
  padding: 40px; /* 2 */
  padding-left: 120px;
  background-color: rgb(255, 255, 255); /* 3 */
  border-radius: 8px; /* 3 */
  margin: 0 auto; /* 4 */
}
