/**
 * Center content as it is the singular item in the section.
 *
 * Give the title section the characteristic black background, light
 * text using simple background color alterations.
 *
 * The title section is fixed to allow for content scrolled on top.
 *
 * Their is also a z index put in place that allowes content flowing over.
 */
#title-section {
  @extend %center-vertical;
  background-color: rgb(4, 4, 4);
  color: $light-text-color;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/**
 * Make the site title exceptionally large.
 */
#title-section h1 {
  font-size: 100px;
}

/**
 * Italisize site slogan, this may not be possible with certain fonts.
 */
#title-section p.slogan {
  font-style: italic;
}

/**
 * Give the description destinction and sperationg from site title and
 * slogan.
 */
#title-section p.description {
  margin-top: 100px;
  font-size: $content-font-size * 0.94;
}

/**
 * Give an overlay from the title to allow for scrolling past the fixed
 * positioned marker.
 */
#title-overlay {
  height: 150vh;
  background-color: transparent;
}

/**
 * Change the background of the about section to be visible over the
 * origional pannel.
 */
#about {
  background-color: color('white');
}

/**
 * Give the product groups a unigue background.
 */
#product-groups {
  background-color: $dark-bgcolor;
  color: color('white');
}

/**
 * Style the documentation link.
 */
.doc-link {
  @include transition(all 0.4s);
  @include font-size(16px);
  font-family: $heading-font;
  border: 2px solid color('white');
  text-decoration: none;
  color: color('white');
  text-align: center;
  padding: 4px;

  &:hover {
    padding: 10px;
  }
}

/**
 * Style the network section and background.
 *
 * Also allow for additional space at the bottom of the container.
 */
#network {
  background-color: color('white');
  padding-bottom: 20px;
}

/**
 * Allow for a grid system via a flexbox container wrapping the two columns of
 * content.
 */
#network .content-extra-large {
  @include display-flex;
  @include flex-flow(row);
  @include justify-content(center);

  @include respond-to('medium') {
    @include flex-flow(row wrap);
  }
}

/**
 * Send the column sizes with responsive tendancies in mind.
 */
#network .col {
  @include flex(0 1 50%);

  @include respond-to('medium') {
    @include flex(0 1 100%);
  }
}

/**
 * Style the documentation lin withing the network info.
 */
#network .network-info .doc-link {
  margin: 20px auto;
  color: $alternate-text-color;
  border-color: $alternate-text-color;
}

/**
 * Style the graph found next to the documentation link.
 */
#network-graph {
  position: relative;
  height: 400px;
  width: 400px;
  margin: auto;
  font-family: $heading-font;
}

#network .network-info {
  z-index: 3;
}

/**
 * Ensure network graph overlays still work, by making them the same color as
 * the backgorund of the network section.
 */
#network-graph .overlay {
  background-color: color('white');
}

/**
 * Allow padding for those elements proceeding and following the network graph.
 */
#product-groups {
  padding-bottom: 100px;
}

/**
 * Give basic styling and padding to the work-with information.
 */
#work-with {
  padding-top: 100px;
  background-color: $dark-bgcolor;
  color: color('white');
}

/**
 * Move the work-with list elements to the center, beyond text alignment.
 */
#work-with .work-with-list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/**
 * Center the list elemtn text.
 */
#work-with a {
  display: block;
  margin: 6px 2px;
  text-decoration: none;
}

/**
 * Make go link display properly.
 */
#work-with .doc-link {
  display: inline-block;
}

/**
 * Creates the content container for the form.
 */
#contact {
  background-color: $dark-bgcolor;
  color: color('white');
}

/**
 * Remove field names.
 */
#contact .field-name {
  display: none;
}

/**
 * Style the background of the staff content section.
 */
#staff {
  background-color: color('white');
  color: $text-color;
}

/**
 * Allow for card flip and for centering inline block cards.
 */
#staff .content-extra-large {
  @include transform(translateZ(1px));
  text-align: center;
}

/**
 * Style the card to a certain side to ensure consistnat behavio.
 */
#staff .person {
  width: 250px;
  height: 250px;
  display: inline-block;

  * {
    @include box-sizing(border-box);
  }
}

/**
 * Style the image to take up completly the front of the card.
 */
#staff .person .front {
  @include centered-background;
}

/**
 * Ensure the back of the card differes from the front
 */
#staff .person .back {
  background-color: $alternate-text-color;
  color: $light-text-color;
}

/**
 * Change the locations to display a google map properly.
 */
#locations {
  min-height: 500px;
  position: relative;
}

/**
 * Make the google map take over the contents of locations.
 */
#locations-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
