$input-padding: 10px;
$input-font-size: 13px;
$field-description-width: 250px;

form, form * {
  @include transition( all 0.25s ease-out );
}

/* Style the container. */
form .form-field {
  margin: 10px auto;
}

/* Style the textarea */
form .form-field textarea {
  min-height: 120px;
}

/* Style the input */
form .form-field input,
form .form-field button,
form .form-field textarea {
    @include border-radius( 5px );
    border: 1px solid #ccc;
    width: 100%;
    padding: $input-font-size;
    color: #42474F;
    font-size: 16px;

    &.valid {
        @include box-shadow( inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#2ECC71, 0.6) );
        outline: none;
        border: 1px solid #2ECC71;
    }

    &.invalid {
        @include box-shadow( inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#e74c3c, 0.6) );
        outline: none;
        border: 1px solid #e74c3c;
    }

    &.empty {
        @include box-shadow( inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#f1c40f, 0.6) );
        outline: none;
        border: 1px solid #f1c40f;
    }

    &:focus {
        @include box-shadow( inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) );
        outline: none;
        border: 1px solid #66afe9;
    }
}

/* Style for the font awesome icon... */
form .form-field {
    position: relative;
}

/* Style the form name. */
form .form-field .field-name {
    @include transform( translateY( -50% ) );
    position: absolute;
    right: 105%;
    top: 50%;
    width: auto;
    text-align: right;
    white-space: nowrap;

    &::after { content: ':'; }
}

/* Style the submit button. */
form .form-field.field-type-submit {
    width: 100%;
    @include display-flex;
    @include justify-content( center );

    input, button {
        width: auto;
        padding: 10px 20px;
        border-radius: 8px 0 8px 0;
        background-color: #36C6D3;
        border: none;
        cursor: pointer;
        margin-left: 30px;
        margin-right: 30px;

        &.delete {
            background-color: #E16A72;
        }
    }
}

/* Style the form description */
form .form-field .field-description { display: none; }

form .all-field-description {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $field-description-width;
    padding: 10px;
    border-left: 1px solid #ccc;
    background-color: white;
    opacity: 1;

    &::before {
        content: 'Field Decription';
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 20px;
        display: block;
    }
}

form .all-field-description.no-content {
    opacity: 0;
}

form .form-field .fa {
    color: #ccc;
    font-size: $input-font-size;

    position: absolute;
    left: $input-padding;
    top: $input-padding + $input-font-size / 2;

    & ~ input {
        padding-left: $input-font-size * 2;
    }
}


@mixin fa-icon-input( $icon ) {
    &::after {
        content: $icon;
        font-family: 'FontAwesome';
        color: #ccc;
        font-size: $input-font-size * 0.8;

        position: absolute;
        left: $input-padding;
        top: $input-padding + $input-font-size * (1 + .6) / 2;
    }

    input { padding-left: $input-font-size * 2; }
}

/* Allow for an array of icons to be shown for their respective fields. */
$input-type-icons: (
    'email': '\f003',
    'phone': '\f095',
    'password': '\f13e'
);

@each $name, $icon in $input-type-icons {
    form .form-field.type-#{$name} {
        @include fa-icon-input( $icon );
    }
}
