/**
 * A section of the page, typically with a background to offset from the
 * text color. This is part of the drasitic color scheme implemented site
 * wide.
 */
.page-section {
  width: 100%;
  margin: 0;
  clear: both;
}

/**
 * Implement the color changes for the evens, these are by default
 * ...
 */
